{% extends "base.html" %}
{% block main %}
<h1>অর্থহীন</h1>
{% if logged_in_user_name() %}
<p>
  <a href="{{ url_for('user', user_name=logged_in_user_name().replace(' ', '_')) }}">
    Lexemes created by you since 1 January 2021 which don’t have any senses yet
  </a>
</p>
{% endif %}
<p>
  Here are the languages with the most senseless lemmata:
</p>
<ul class="lang_list">
  {% for key, value in languages.items() %}
  <li><a href="{{ url_for('add', lang = value.code) }}">{{ key }} ({{ value.total }})</a></li>
  {% endfor %}
</ul>
{% endblock %}
