{% extends "base.html" %}
{% block main %}
<div class="lemma_info">
<ul class="lemma_info_top">
    <li><a href="https://hangor.toolforge.org/lex/{{ lang }}/{{ lemma }}" target="_blank" >Hangor</a></li>
    <li><a href="https://ordia.toolforge.org/{{ word_id }}" target="_blank" >Ordia</a></li>
</ul>
<h1>{{ lemma }}</h1>
<h2>{{ lang }} · {{ pos }} · <a href="https://www.wikidata.org/wiki/Lexeme:{{ word_id }}" target="_blank">{{ word_id }}</a></h2>
<h3>statements:{% if gender %} · {{ gender }}{% endif %}{% if quality %} · {{ quality }}{% endif %}</h3>
<h4>identifiers:{% if duden %} · <a href="{{ duden }}">duden</a>{% endif %}{% if dcs %} · <a href="{{ dcs }}">sanskrit-linguistics</a>{% endif %}</h4>
</div>
<form method="post" id="sense_adder">
<input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
<input name="lang" type="hidden" value="{{ lang }}">
{% if user_is_logged_in() %}
<div class="form-group">
<label for="sense">Add the first sense to this lexeme!</label>

<input {{ form_attributes('sense') }} class="form-control form-gloss" autofocus="autofocus" autocomplete="off" required lang="{{ lang }}">
<input {{ form_attributes('langcode') }} class="form-control form-langcode" autocomplete="off" required value="{{ lang }}">
<p><input {{ form_attributes('word_id') }} type = "hidden" value = "{{ word_id }}" /></p>
</div>
<a href="{{ current_url(external=False) }}" class="btn btn-secondary">Give me another lemma</a>
<button type="submit" class="btn btn-primary float-right">Add</button>
{% else %}
<a href="{{ current_url(external=False) }}" class="btn btn-secondary">Give me another lemma</a>
<button type="button" class="btn btn-primary float-right">Not logged in</button>
{% endif %}
</form>
<script>
rtl_langs = ["ar","fa","he","nqo","dv","yi","ps","ckb","sdh"];
langcode_textbox = document.querySelector('input#langcode');
sense_textbox = document.querySelector('input#sense');
sense_textbox.setAttribute('dir', 'ltr');
if(rtl_langs.includes(langcode_textbox.value))
    sense_textbox.setAttribute('dir', 'rtl');

langcode_textbox.oninput = function(e){
    sense_textbox.setAttribute('lang', e.target.value);
    var new_direction = 'ltr';
    if(rtl_langs.includes(e.target.value))
        new_direction = 'rtl';
    sense_textbox.setAttribute('dir', new_direction);
}
</script>

{% endblock %}
