.container {
    max-width: 46rem;
}

.navbar {
    background-color: #96281b;
}

.lemma_info h1 {
    font-size: 3rem;
    text-align: center;
    word-break: break-word;
}

.lemma_info h2 {
    text-align: center;
}

.lemma_info h3 {
    text-align: center;
}

.lemma_info h4 {
    text-align: center;
}

.lemma_info_top {
    text-align: right;
    font-size: 150%;
}

.lemma_info_top li {
    display: inline-block;
    background-color: #ffeaa7;
}

.lemma_info_top li:hover {
    display: inline-block;
    background-color: #fdcb6e;
    text-decoration: none;
    color: black;
}

.form-gloss{
    display:inline-block;
    width:79.1%;
}

.form-langcode{
    display:inline-block;
    width:19.35%;
}

.lemma_info_top li a {
    display: block;
    padding: 5px 20px;
    color: black;
}

.lang_list li a:hover {
    text-decoration: none;
    color: black;
}

.lang_list li {
    display: inline-block;
    background-color: #ffeaa7;
    margin: 2px;
    font-size: 110%;
}

.lang_list li:hover {
    background-color: #fdcb6e;
}

.lang_list li a {
    display: block;
    padding: 5px 10px;
    color: black;
}

.lang_list li a:hover {
    text-decoration: none;
    color:black;
}
